:root {
  --text: #4a5568;
  --text-h: #1a202c;
  --border: #cbd5e0;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: white;
  min-height: 100svh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #a0aec0;
    --text-h: #f7fafc;
    --border: #2d3748;
    background: black;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 0;

  @media (max-width: 1024px) {
    font-size: 36px;
  }
}

p {
  margin: 0;
}
